{% extends 'JariffProjectBundle::base_admin.html.twig' %}

{% block breadcrumb_title %}Member #{{ entity.number }}{% endblock %}

{% block breadcrumb_content %}
    <li>
        <i class="icon-home"></i>
        <a href="{{ path('dashboard_admin') }}">Dashboard</a>
        <span class="icon-angle-right"></span>
    </li>
    <li>
        <a href="{{ path('admin_lead_index') }}">Member Index</a>
        <span class="icon-angle-right"></span>
    </li>
    <li>
        Member #{{ entity.number }}
    </li>
{% endblock %}

{% block content %}
<div>
	<img src="/bundles/jariffproject/admin/img/icons/flag/red.png" data-toggle="tooltip" data-placement="right" title="" data-original-title="DONT CONTINUE, Cannot move forward without completing required tasks">
    <a class="btn" href="{{ path('admin_member_subscription_new', {'id' : entity.id}) }}">
		New Subscription
    </a>
    <a class="btn" href="{{ path('admin_member_profile_edit', {'id' : member.id}) }}">
		Update Profile
    </a>
    {#<a class="btn" href="#">
		Update Payment
    </a>#}
    <a class="btn" href="{{ path('admin_member_cancel_request', {'id' : member.id}) }}">
		Cancel Request
    </a>
    {#<a class="btn disabled" href="#">
		Add Users
    </a>#}
    <a class="btn" href="{{ path('admin_member_reset_password', {'id' : member.id}) }}">
		Reset Password
    </a>
    <a class="btn" href="{{ path('admin_member_email_new', {'id' : member.id}) }}">
		Send email
    </a>
</div>

<br/>
<br/>

<div id="content">
    <div class="body">
      <h1>{{ entity.profile.salutation }} {{ entity.profile.firstName }}, {{ entity.profile.lastName }}</h1>
      <ul id="myTab" class="nav nav-tabs">
		<li><a href="{{ path('admin_member_profile_show', { 'id' : entity.id }) }}">Client Info</a></li>
		<li><a href="{{ path('admin_member_activities', { 'id' : entity.id }) }}">Activities</a></li>
		<li><a href="{{ path('admin_member_subscription_show', { 'id' : entity.id }) }}">Subscription History</a></li>
		<li class="active"><a href="{{ path('admin_member_invoice_show', { 'id' : entity.id }) }}">Invoice History</a></li>
		<li><a href="{{ path('admin_member_history_show', { 'id' : entity.id }) }}">Client History</a></li>
		<li><a href="{{ path('admin_member_representative_history_show', { 'id' : entity.id }) }}">Representative History</a></li>
		<li><a href="{{ path('admin_lead_history_show', { 'id' : entity.id }) }}">Lead History</a></li>
      </ul>
	</div>
</div>


<div class="row-fluid">
	<div class="span12">
                              <div class="social-box">
                                <div class="body">
							      <table class="table table-striped">
                                    <tbody>

										<tr>
										    <td>First Name On Credit Card</td>
										    <td>...</td>
										</tr>

										<tr>
										    <td>Last Name On Credit Card</td>
										    <td>...</td>
										</tr>

										<tr>
										    <td>Card Type</td>
										    <td>MASTERCARD - DISCOVER - AMERICAN EXPRESS - VISA</td>
										</tr>

										<tr>
										    <td>Card Number</td>
										    <td>...</td>
										</tr>

										<tr>
										    <td>Expiry Or Expiration Date</td>
										    <td>MM/YYYY</td>
										</tr>

										<tr>
										    <td>Card Billing Address Postal Or Zip Code</td>
										    <td>...</td>
										</tr>

										<tr>
										    <td>Security Code</td>
										    <td>ONLY ALLOW THE NUMBER OF DIGITS PER THE CARD TYPE</td>
										</tr>

                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
</div>

<div>
    <a class="btn" href="{{ path('admin_attachment_new', { 'id' : entity.id, 'type' : 'payment'}) }}">
		Upload
    </a>
    <a class="btn" href="#">
		Delete
    </a>
</div>

{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        var member_id = {{ entity.id }};
        $(function () {
          $("[data-toggle='tooltip']").tooltip();
        });    
    </script>
    {# <script src="/bundles/jariffadmin/js/grid-lead-activity.js"></script> #}
{% endblock %}