{% extends 'JariffProjectBundle::base_member_cs.html.twig' %}

{% form_theme form 'JariffProjectBundle:Themes:bootstrap_3_horizontal_layout_st_search.html.twig' %}
{% block header_title %}Support Ticket{% endblock %}

{% block content %}
    <div class="entry">


        <div class="cmsms-form-builder">

            {% for label, flashes in app.session.flashbag.all %}
                {% for flash in flashes %}
                    <div class="alert alert-{{ label }}">
                        {{ flash }}
                    </div>
                {% endfor %}
            {% endfor %}
            <form class="form-horizontal" action="{{ path('support_submit_inbound') }}"
                  method="post" {{ form_enctype(form) }} id="support_form">

                <div class="cl"></div>
                <div class="form_info cmsms_input">
                    {{ form_row(form.subject, { 'attr': {'oninvalid': "setCustomValidity('Please give me a nice subject')"} }) }}
                </div>
                <div class="form_info cmsms_input">
                    {{ form_row(form.message, { 'attr': {'oninvalid': "setCustomValidity('Please give me a nice message')"} }) }}
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input href="" class="button" type="submit" value="Request for support"
                               id="support_form_formsend" tabindex="8"></input>

                        <div class="loading"></div>
                    </div>
                </div>

            </form>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
            var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
            s1.async=true;
            s1.src='https://embed.tawk.to/5707cb65289ff9316e7b3f6e/default';
            s1.charset='UTF-8';
            s1.setAttribute('crossorigin','*');
            s0.parentNode.insertBefore(s1,s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
{% endblock %}