
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="SemiColonWeb" />

    <!-- Stylesheets
    ============================================= -->
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{{ asset('/bundles/jariffproject/frontend/css/bootstrap.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('/bundles/jariffproject/frontend/css/style.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('/bundles/jariffproject/frontend/css/dark.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('/bundles/jariffproject/frontend/css/font-icons.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('/bundles/jariffproject/frontend/css/animate.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('/bundles/jariffproject/frontend/css/magnific-popup.css') }}" type="text/css" />

    <link rel="stylesheet" href="{{ asset('/bundles/jariffproject/frontend/css/responsive.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('/bundles/jariffproject/frontend/css/subpages.css') }}" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!--[if lt IE 9]>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js') }}"></script>
    <![endif]-->

    <!-- External JavaScripts
    ============================================= -->
    <script type="text/javascript" src="{{ asset('/bundles/jariffproject/frontend/js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/bundles/jariffproject/frontend/js/plugins.js') }}"></script>

    <!-- Document Title
    ============================================= -->
    <title>Company | TRADEtegy</title>

</head>

<body class="stretched subpages">

    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">

        <!-- Header
        ============================================= -->
        <header id="header" class="full-header">

            <div id="header-wrap">

                <div class="container clearfix">

                    <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

                    <!-- Logo
                    ============================================= -->
                    <div id="logo">
                    <a href="#" class="standard-logo" data-dark-logo="{{ asset('/bundles/jariffproject/frontend/images/logo-dark.png') }}"><img src="{{ asset('/bundles/jariffproject/frontend/images/logo.png') }}" alt="TRADEtegy Logo"></a>
                    <a href="#" class="retina-logo" data-dark-logo="{{ asset('/bundles/jariffproject/frontend/images/logo-dark@2x.png') }}"><img src="{{ asset('/bundles/jariffproject/frontend/images/logo@2x.png') }}" alt="TRADEtegy Logo"></a>
                    </div><!-- #logo end -->


                    <!-- Top Search
                    ============================================= -->
                    <div id="top-search">
                        <a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
                        <form action="search.html" method="get">
                            <input type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter..">
                        </form>
                    </div><!-- #top-search end --> 
                                       

                <!-- Primary Navigation
                ============================================= -->
                <nav id="primary-menu" class="style-2 sub-title">
                    <div class="container clearfix">
                        <ul>
                            <li><a href="#"><div>How We Help?</div></a></li>
                            <li><a href="#"><div>Plan & Pricing</div></a></li>

                        </ul>
                    </div>
                </nav><!-- #primary-menu end -->

                </div>

            </div>

        </header><!-- #header end -->

        <!-- Page Title
        ============================================= -->
        <section id="page-title">

            <div class="container clearfix">
                <h1>Red Ball International</h1>
                <span>Company profile made by Panjiva</span>
            </div>

        </section><!-- #page-title end -->

        <!-- Content
        ============================================= -->
        <section id="content">
            <div class="content-wrap">
                <div class="container clearfix">

                    <!-- Posts
                    ============================================= -->
                    <div id="posts" class="post-grid clearfix">

                    <div class="promo promo-dark promo-uppercase bottommargin">
                        <h3>See Red Ball International's products and suppliers</h3>
                        <span>Thousands of companies like you use Panjiva to research suppliers and competitors</span>
                        <a href="#" class="button button-3d button-blue button-xlarge nobottommargin">Start Now</a>
                    </div>

                <h3 class="text-center">Easy access to trade data</h3>

                <section id="us-import-shipments" class="shipment-section selected translate">

                    <div class="dataSection text-center">
                      <h4>U.S. Customs records organized by company</h4>
                      <span><span class="notranslate">7</span> U.S. shipments available for <span class="notranslate">Red Ball International</span>, updated weekly since 2007</span>

                      <br><br>
                    </div>
                    <table class="table tightTable monospace">
                      <thead>
                        <tr><th>Date</th>
                        <th>Buyer</th>
                        <th>Supplier</th>
                        <th>Details</th>
                        <th>34 more fields</th>
                      </tr></thead>

                      
                        <tbody><tr>
                          <td>2013-07-09</td>
                          
                            <td class="locked-content-preview" colspan="4" rowspan="2"><div class="locked-content-message translate"><span>See all <span class="notranslate">7</span> shipment records for <span class="notranslate">Red Ball International</span> with a Panjiva data plan.</span><br><a href="/request-demo" class="button buttonPrimary">Request a demo</a></div></td>          
                        </tr>
                      
                        <tr>
                          <td>2012-07-15</td>
                          
                        </tr>
                      
                        <tr>
                          <td>2012-04-04</td>
                          
                            <td class="notranslate">Red Ball International</td>
                            <td class="notranslate">Pasha International</td>
                            <td class="commodity notranslate">7 Vans 1 7 Of 7 10300 Gr 1402 Cu Ap Goods 10 Vans Dod Sponsored Household 2 Vans 1 2 Of 2 2906 Gr 392 Cu Ap Rdbf Red Ball Forwarders Rdbf Red Ball Forwarders 1 Van 1 1 Of 1 586 Gr 196 Cu Ap Srfw Silver Ridge Forwarders</td>
                            <td><a href="#" onclick="$j('#cr_detail')[0].scrollIntoView(true); return false;">Bill of lading</a></td>
                          
                        </tr>
                      
                    </tbody></table>

                    <div class="learnMore alignCenter">Shipment data shows what products a company is trading and more.
                      <a href="#" onclick="learn_more_trade_data(); return false;">Learn more</a>     </div>

                  </section>


                    </div><!-- #posts end -->

                </div>
            </div>
        </section><!-- #content end -->

        <!-- Footer
        ============================================= -->
        <footer id="footer" class="dark">

            <div class="container">

                <!-- Footer Widgets
                ============================================= -->
                <div class="footer-widgets-wrap clearfix">

                    <div class="col_two_third">

                        <div class="col_one_third">

                            <div class="widget widget_links clearfix">

                                <h4>Buyers</h4>

                                <ul>
                                   
                                    <li><a href="#">Benefits</a></li>
                                    <li><a href="#">Plans &amp; Pricing </a></li>
                                    <!--<li><a href="#">Clients</a></li>-->
                                    <li><a href="#">Buyer Directory</a></li>
                                    <!--<li><a href="#">Post a Buying Leads</a></li>-->
                                </ul>

                            </div>


                        </div>

                        <div class="col_one_third">

                            <div class="widget widget_links clearfix">

                                <h4>Suppliers</h4>

                                <ul>
                                    
                                    <li><a href="#">Benefits</a></li>
                                    <li><a href="#">Plans &amp; Pricing </a></li>
                                    <li><a href="#">Create your Profile</a></li>
                                    <li><a href="#">Supplier Directory</a></li>
                                    
                                </ul>

                            </div>

                        </div>

                        <div class="col_one_third col_last">

                            <div class="widget widget_links clearfix">

                                <h4>The Company</h4>

                                <ul>
                                    <li><a href="#">TRADEtegy</a></li>
                                    <li><a href="#">What's New?</a></li>
                                    <li><a href="#">Intelligence Platform</a></li>
                                    <li><a href="#">Behind the Scenes</a></li>
                                    <li><a href="#">Careers</a></li>
                                    <li><a href="#">Referral Program</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                </ul>

                            </div>

                        </div>

                    </div>

                    <div class="col_one_third col_last">

                            <div class="widget clearfix">

                                <img src="{{ asset('/bundles/jariffproject/frontend/images/footer-widget-logo.png') }}" alt="" class="footer-logo">
                                <div style="background: url('images/world-map.png') no-repeat center center; background-size: 100%;">
                                    <address>
                                        <strong>Headquarters:</strong><br>
                                        123 Liberty Ave, Suite 100<br>
                                        Ney York, NY 123456<br>
                                    </address>
                                    <abbr title="Phone Number"><strong>Phone:</strong></abbr> (00) 12345 6789<br>
                                    <abbr title="Fax"><strong>Fax:</strong></abbr> (00) 12345 6789<br>
                                    <abbr title="Email Address"><strong>Email:</strong></abbr> info@tradetegy.com
                                </div>

                            </div>

                    </div>

                </div><!-- .footer-widgets-wrap end -->

            </div>

            <!-- Copyrights
            ============================================= -->
            <div id="copyrights">

                <div class="container clearfix">

                    <div class="col_half">
                        Copyrights &copy; 2015 All Rights Reserved by TRADEtegy Inc.<br>
                        <div class="copyright-links"><a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a></div>
                    </div>

                    <div class="col_half col_last tright">
                        <div class="fright clearfix">
                            <a href="#" class="social-icon si-small si-borderless si-facebook">
                                <i class="icon-facebook"></i>
                                <i class="icon-facebook"></i>
                            </a>

                            <a href="#" class="social-icon si-small si-borderless si-twitter">
                                <i class="icon-twitter"></i>
                                <i class="icon-twitter"></i>
                            </a>

                            <a href="#" class="social-icon si-small si-borderless si-linkedin">
                                <i class="icon-linkedin"></i>
                                <i class="icon-linkedin"></i>
                            </a>

                        </div>

                        <div class="clear"></div>

                        <i class="icon-envelope2"></i> info@tradetegy.com <span class="middot">&middot;</span> <i class="icon-headphones"></i> +91-55-6666-7777 <span class="middot">&middot;</span> <i class="icon-skype2"></i> TRADEtegy On Skype
                    </div>

                </div>

            </div><!-- #copyrights end -->

        </footer><!-- #footer end -->

    </div><!-- #wrapper end -->

    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>

    <!-- Footer Scripts
    ============================================= -->
    <script type="text/javascript" src="{{ asset('/bundles/jariffproject/frontend/js/functions.js') }}"></script>

</body>
</html>