{% extends 'JariffProjectBundle::base.html.twig' %}

{% block top_inner %}
{% endblock top_inner %}

{% block middle_content %}
<section id="middle_content">
  <div class="entry">

    <div class="one_third">
      <div class="featured_block">
        <div class="cmsms_services_icon">
          <a href="{{ asset('/bundles/jariffproject/frontend/images/feature/Origin/11_the_big_picture_for_buyer.png') }}" class="jackbox" data-group="for_text">
            <img alt="" class="aligncenter" src="{{ asset('/bundles/jariffproject/frontend/images/feature/Thumb/11_the_big_picture_for_buyer.png') }}">
          </a>
        </div>
        <h2 class="aligncenter">Supplier Tree</h2>
        <p class="aligncenter">Analyze your competitors supply chain</p>
      </div>
    </div>

    <div class="one_third">
      <div class="featured_block">
        <div class="cmsms_services_icon">
          <a href="{{ asset('/bundles/jariffproject/frontend/images/feature/Origin/4_advance_download.png') }}" class="jackbox" data-group="for_text">
            <img alt="" class="aligncenter" src="{{ asset('/bundles/jariffproject/frontend/images/feature/Thumb/4_advance_download.png') }}">
          </a>
        </div>
        <h2 class="aligncenter">Advanced Export Filter</h2>
        <p class="aligncenter">Choose exactly which data you want to download</p>
      </div>
    </div>

    <div class="one_third">
      <div class="featured_block">
        <div class="cmsms_services_icon">
          <a href="{{ asset('/bundles/jariffproject/frontend/images/feature/Origin/13_world_map_view_for_supplier.png') }}" class="jackbox" data-group="for_text">
            <img alt="" class="aligncenter" src="{{ asset('/bundles/jariffproject/frontend/images/feature/Thumb/13_world_map_view_for_supplier.png') }}">
          </a>
        </div>
        <h2 class="aligncenter">Supplier World Map</h2>
        <p class="aligncenter">Complete insight data to help grow your business</p>
      </div>
    </div>

    <div class="cl"></div>

    <div class="one_third">
      <div class="featured_block">
        <div class="cmsms_services_icon">
          <a href="{{ asset('/bundles/jariffproject/frontend/images/feature/Origin/0_search_result.png') }}" class="jackbox" data-group="for_text">
            <img alt="" class="aligncenter" src="{{ asset('/bundles/jariffproject/frontend/images/feature/Thumb/0_search_result.png') }}">
          </a>
        </div>
        <h2 class="aligncenter">Advanced Search Filter</h2>
        <p class="aligncenter">Deep search within each column data</p>
      </div>
    </div>

    <div class="one_third">
      <div class="featured_block">
        <div class="cmsms_services_icon">
          <a href="{{ asset('/bundles/jariffproject/frontend/images/feature/Origin/3_compare_company.png') }}" class="jackbox" data-group="for_text">
            <img alt="" class="aligncenter" src="{{ asset('/bundles/jariffproject/frontend/images/feature/Thumb/3_compare_company.png') }}">
          </a>
        </div>
        <h2 class="aligncenter">Company Comparison</h2>
        <p class="aligncenter">Stay ahead in global trading</p>
      </div>
    </div>

    <div class="one_third">
      <div class="featured_block">
        <div class="cmsms_services_icon">
          <a href="{{ asset('/bundles/jariffproject/frontend/images/feature/Origin/6_detail_company.png') }}" class="jackbox" data-group="for_text">
            <img alt="" class="aligncenter" src="{{ asset('/bundles/jariffproject/frontend/images/feature/Thumb/6_detail_company.png') }}">
          </a>
        </div>
        <h2 class="aligncenter">Detail Company Info</h2>
        <p class="aligncenter">We provided this record for you</p>
      </div>
    </div>

    <div class="cl"></div>


    <div class="one_third">
      <div class="featured_block">
        <div class="cmsms_services_icon">
          <a href="{{ asset('/bundles/jariffproject/frontend/images/feature/Origin/1_pin_unpin_query_search.png') }}" class="jackbox" data-group="for_text">
            <img alt="" class="aligncenter" src="{{ asset('/bundles/jariffproject/frontend/images/feature/Thumb/1_pin_unpin_query_search.png') }}">
          </a>
        </div>
        <h2 class="aligncenter">Bookmark Search</h2>
        <p class="aligncenter">Don't miss any detail</p>
      </div>
    </div>

    <div class="one_third">
      <div class="featured_block">
        <div class="cmsms_services_icon">
          <a href="{{ asset('/bundles/jariffproject/frontend/images/feature/Origin/2_member_setting_search.png') }}" class="jackbox" data-group="for_text">
            <img alt="" class="aligncenter" src="{{ asset('/bundles/jariffproject/frontend/images/feature/Thumb/2_member_setting_search.png') }}">
          </a>
        </div>
        <h2 class="aligncenter">Preferred Locale</h2>
        <p class="aligncenter">Our data personalized for you</p>
      </div>
    </div>

    <div class="one_third">
      <div class="featured_block">
        <div class="cmsms_services_icon">
          <a href="{{ asset('/bundles/jariffproject/frontend/images/feature/Origin/8_visualize_total_search.png') }}" class="jackbox" data-group="for_text">
            <img alt="" class="aligncenter" src="{{ asset('/bundles/jariffproject/frontend/images/feature/Thumb/8_visualize_total_search.png') }}">
          </a>
        </div>
        <h2 class="aligncenter">Visualize Search</h2>
        <p class="aligncenter">Reach your upper limit</p>
      </div>
    </div>

    <div class="cl"></div>
    <div class="one_first">
       <div class="tour_content">
          <h2>Key Benefits</h2><br/>
            <ul class="tour">
              <li class="current">
                <a href="#">Comprehensive Data</a>
              </li>
              <li>
                <a href="#">Company Tree</a>
              </li>
              <li>
                <a href="#">Global Suply Chain</a>
              </li>
              <li>
                <a href="#">Helpful Support</a>
              </li>
              <li>
                <a href="#">Legal Data</a>
              </li>
            </ul>
            <div class="tour_box" style="display:block;">
                <div class="tour_box_inner">
                    <h5>Comprehensive Data</h5>
   
                    <p>Choosing Increase HTML will be one of the most successful solutions of yours. In was
                        initially
                        created to help you make a really good website that will bring you to the top, whatever your
                        sphere is. Increase wordpress theme features minimal but juicy design that will be friendly
                        to
                        all possible customization you might want to apply. Increase template offers super
                        flexibility
                        for color editing and easily turns from a minimalistic style template into a juicy website
                        with
                        great animation effects. Increase is a SEO-friendly HTML template.</p>
                </div>
            </div>
            <div class="tour_box">
                <div class="tour_box_inner">
                    <h5>Company Tree</h5>
   
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut justo nec arcu molestie
                        molestie non quis magna. Mauris dictum aliquam nisi, vitae elementum magna rhoncus et. Class
                        aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                        himenaeos.Vestibulum
                        vulputate aliquam risus. Praesent consequat scelerisque velit eu elementum. Praesent posuere
                        tortor sed mi ullamcorper sodales. Cras porta purus in. <a href="#">Lorem ipsum dolor</a>
                        sit
                        amet, consectetur adipiscing elit. Aenean ut justo nec arcu molestie molestie non quis
                        magna.
                        Mauris dictum aliquam nisi, vitae elementum magna rhoncus et.</p>
                </div>
            </div>
            <div class="tour_box">
                <div class="tour_box_inner">
                    <h5>Global Suply Chain</h5>
   
                    <p>Aenean ut justo nec arcu molestie molestie non quis magna. Mauris dictum aliquam nisi, vitae
                        elementum magna rhoncus et. Class aptent taciti sociosqu ad litora torquent per conubia
                        nostra,
                        per inceptos himenaeos. Vestibulum vulputate aliquam risus. Praesent consequat scelerisque
                        velit
                        eu elementum.</p>
   
                    <p>Cras porta purus in. <a href="#">Lorem ipsum dolor</a> sit amet, consectetur adipiscing elit.
                        Aenean ut justo nec arcu molestie molestie non quis magna. Mauris dictum aliquam nisi, vitae
                        elementum magna rhoncus et.</p>
                </div>
            </div>
            <div class="tour_box">
                <div class="tour_box_inner">
                    <h5>Helpful Support</h5>
   
                    <p>Mauris dictum aliquam nisi, vitae elementum magna rhoncus et. Class aptent taciti sociosqu ad
                        litora torquent per conubia nostra, per inceptos himenaeos.</p>
   
                    <p>Vestibulum vulputate aliquam risus. Praesent consequat scelerisque velit eu elementum.
                        Praesent
                        posuere tortor sed mi ullamcorper sodales. Cras porta purus in. Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit. Aenean ut justo nec arcu molestie molestie non quis magna.
                        Mauris
                        dictum aliquam nisi, vitae elementum magna rhoncus et.</p>
                </div>
            </div>
            <div class="tour_box">
                <div class="tour_box_inner">
                    <h5>Legal Data</h5>
   
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut justo nec arcu molestie
                        molestie non quis magna. Mauris dictum aliquam nisi, vitae elementum magna rhoncus et. Class
                        aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                        Vestibulum
                        vulputate aliquam risus. Praesent consequat scelerisque velit eu elementum. Praesent posuere
                        tortor sed mi ullamcorper sodales. Cras porta purus in. <a href="#">Lorem ipsum dolor</a>
                        sit
                        amet, consectetur adipiscing elit. Aenean ut justo nec arcu molestie molestie non quis
                        magna.
                        Mauris dictum aliquam nisi, vitae elementum magna rhoncus et.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="cl"></div>

    <div class="colored_shortcode">
        <div class="colored_title">
            <div class="colored_title_inner">
                <h2>International Trade Starts Here</h2>
                <p>Our shipping databases reveal the trading activities of the world’s importers and exporters</p>
            </div>
        </div>
        <a class="colored_button" href="{{ path('signup') }}"><span class="icon_banner icon_down"></span>Signup Now!</a>
    </div>
  </div>
</section>
{% endblock %}