<div class="ovh">
    <a href="#">You are here : Search </a> <span class="glyphicon glyphicon-me glyphicon-chevron-right"></span> <a
            href="#">By Suppliers</a> <span class="glyphicon glyphicon-me glyphicon-chevron-right"></span> <strong
            class="j-q">{{ q }}</strong>

    <p class="header-revealing">Revealing : {{ total }} matching by suppliers</p>

    <section id="middle_content" style="margin-top: -22px;">
        <div class="entry">
            <section class="portfolio_container four_blocks">
                <article class="portfolio format-album" data-category="design corporate">

                    <p><strong>By Country</strong></p>

                    <div class="cmsms-form-builder">
                        <div class="form_info cmsms_checkboxes">
                            <div class="check_parent">
                                <input type="checkbox" name="check_1" id="check_1" value="I Agree!">
                                <label for="check_1">China</label>
                                <span class="total-in-country code">30</span>
                            </div>
                            <div class="check_parent">
                                <input type="checkbox" name="check_2" id="check_2" value="Yes">
                                <label for="check_2">India</label>
                                <span class="total-in-country code">30</span>
                            </div>
                            <div class="check_parent">
                                <input type="checkbox" name="check_3" id="check_3" value="No">
                                <label for="check_3">Paskistan</label>
                                <span class="total-in-country code">30</span>
                            </div>

                        </div>
                    </div>
                    <a href="#">Show me more</a>

                </article>
                <article class="portfolio format-slider" data-category="design corporate">

                    <p><strong>By additional Info</strong></p>

                    <div class="cmsms-form-builder">
                        <div class="form_info cmsms_checkboxes">
                            <div class="check_parent">
                                <input type="checkbox" name="check_1" id="check_1" value="I Agree!">
                                <label for="check_1">Certified</label>
                                <span class="total-in-country code">30</span>
                            </div>
                            <div class="check_parent">
                                <input type="checkbox" name="check_2" id="check_2" value="Yes">
                                <label for="check_2">Email</label>
                                <span class="total-in-country code">30</span>
                            </div>
                            <div class="check_parent">
                                <input type="checkbox" name="check_3" id="check_3" value="No">
                                <label for="check_3">Product Photo</label>
                                <span class="total-in-country code">30</span>
                            </div>

                        </div>
                    </div>
                    <a href="#">Show me more</a>
                </article>
                <article class="portfolio format-album" data-category="business corporate">

                    <p><strong>By Last Treading Activity</strong></p>

                    <div class="cmsms-form-builder">
                        <div class="form_info cmsms_checkboxes">
                            <div class="check_parent">
                                <input type="checkbox" name="check_1" id="check_1" value="I Agree!">
                                <label for="check_1">Whitin last 6 month</label>

                            </div>
                            <div class="check_parent">
                                <input type="checkbox" name="check_2" id="check_2" value="Yes">
                                <label for="check_2">Within 1 year</label>

                            </div>
                            <div class="check_parent">
                                <input type="checkbox" name="check_3" id="check_3" value="No">
                                <label for="check_3">Whitin 2 year</label>

                            </div>
                        </div>
                    </div>
                    <a href="#">Show me everything</a>
                </article>
                <article class="portfolio format-video" data-category="photography">

                    <p><strong>Apply more filter to the search</strong></p>
                    <a href="#">Location</a><br/>
                    <a href="#">Ship to</a><br/>
                    <a href="#">Available information</a><br/>
                    <a href="#">Shipments Counts</a><br/>
                    <a href="#">Weight Counts</a>
                </article>


            </section>
        </div>
    </section>

</div>

<div class="divider"></div>
<div class="content_wrap" style="margin-top: -32px;">
    <section id="content">
        {% for res in result %}
            <div class="ovh">
                <header class="entry-header">
                    <div class="cmsms_title">
                        <h5 class="entry-title"><a href=""><strong>{{ res.value.getShipperName }}</strong></a></h5>
                    </div>
                    <div class="cmsms_post_info">
                                <span class="user_name"><img
                                            class="flag flag-{{ res.value.getShipRegisteredIn | twolettercode }}"
                                            src="{{ asset('bundles/jariffproject/frontend/images/blank.gif') }}"
                                            alt="{{ res.value.getShipRegisteredIn }}"> <a href="#">
                                        {{ res.value.getShipRegisteredIn }} </a></span>&nbsp;&nbsp;/&nbsp;&nbsp;
                        <span>({{ res.value.shipment }}) <a href="#" class="cmsms_comments">shipments total</a></span>
                        &nbsp;&nbsp;/&nbsp;&nbsp;
                        <i class="livicon" data-name="check-circle-alt" data-s="14" style="position: absolute;
margin-top: 3px;" data-color="#e6e6e6" data-hovercolor="#33bee5" data-op="1" data-original-title="testing"></i>
                        <i class="livicon" data-name="user" data-s="14" style="position: absolute;
margin-top: 3px;margin-left: 17px" data-color="#e6e6e6" data-hovercolor="#33bee5" data-op="1"></i>
                    </div>
                </header>
                <div class="cl"></div>
                <div class="entry-content">

                    <p>{{ res.value.getProductDescription | readmore }}  </p>
                </div>

                <footer class="entry-meta">
                    <ul class="cmsms_tags">
                        <li>Customers:</li>
                        {% for customer in res.value.getConsigneeName %}
                            <li><a href="">{{ customer }}</a>,</li>

                        {% endfor %}
                    </ul>
                </footer>
            </div>
            <div class="divider"></div>
        {% endfor %}

        {#{% if result is not empty %}#}
        {#{{ knp_pagination_render(result) }}#}
        {#{% endif %}#}
    </section>
    <section id="sidebar">

        <div class="one_first">
            <aside class="widget widget_custom_advertising_entries">
                <h2 class="widgettitle">Advertising</h2>
                <ul>
                    <li><a href="#"><img src="images/img/advertising_img_1.jpg" alt=""/></a></li>
                    <li><a href="#"><img src="images/img/advertising_img_2.jpg" alt=""/></a></li>
                    <li><a href="#"><img src="images/img/advertising_img_3.jpg" alt=""/></a></li>
                    <li><a href="#"><img src="images/img/advertising_img_4.jpg" alt=""/></a></li>
                </ul>
            </aside>
        </div>

    </section>
</div>

{% block addJava %}
    <script src="{{ asset('bundles/jariffproject/frontend/icon/js/raphael-min.js') }}"></script>
    <script src="{{ asset('bundles/jariffproject/frontend/icon/js/livicons-1.2.min.js') }}"></script>
{% endblock %}