{% extends 'JariffProjectBundle::base_search_new.html.twig' %}

{% block content %}
    <section class="blog">

        <article class="post hentry format-standard">

            <div class="ovh">

                <div class="panel panel-info" id="tour-chart">
                    <div class="panel-heading">
                        <h3 class="panel-title">Search History</h3>
                    </div>
                    <div class="panel-body">
                        <div id="j-chart-sell"></div>
                        <div id="j-chart-employee"></div>

                    </div>
                </div>
                <div class="count">
                    <div class="row">
                        <div class="col-md-3">
                            <h5 style="margin-right: 12px;">Total {{ total }}</h5>
                        </div>
                        <div class="col-md-6 pull-right">
                            <div class="col-md-3">
                                <h5 style="margin-right: 12px;">Filter By : </h5>
                            </div>
                            <div class="col-md-1">
                                <a href="{{ path('member_search_history',{'filter' : 'green'}) }}"
                                class="jar-tooltip-filter" title="Filter Pin Green">
                                <span class="pushpin-green"></span>
                            </a>
                        </div>
                        <div class="col-md-1">
                            <a href="{{ path('member_search_history',{'filter' : 'yellow'}) }}"
                            class="jar-tooltip-filter" title="Filter Pin Yellow">
                            <span class="pushpin-yellow"></span>
                        </a>
                    </div>
                    <div class="col-md-1">
                        <a href="{{ path('member_search_history',{'filter' : 'pink'}) }}"
                        class="jar-tooltip-filter" title="Filter Pin Red">
                        <span class="pushpin-pink"></span>
                    </a>
                </div>
                <div class="col-md-1">
                    <a href="{{ path('member_search_history') }}" class="jar-tooltip-filter"
                    title="Remove Filter">
                    <span class="pushpin-unpin"></span>
                </a>
            </div>
        </div>
    </div>

</div>
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>Date Search</th>

            <th>Query Search</th>
            <th>Priority</th>
            <th>Action</th>


        </tr>
    </thead>
    <tbody>
        {% for row in data %}
            {#{% set res = data.getQuery|jsondecode %}#}
            <tr>
                <td>{{ row.getHit["_source"]['date_search']|date("d M Y") }}</td>
                {#<td>{{ row.getTimezone }}</td>#}
                {#<td>#}
                {#{{ row.getSearchOn }}#}
                {#</td>#}
                <td>

                    {% set search = row.getHit["_source"]['query']|decrypted_query|jsondecode %}


                        Your search of Data for : <br/>


                        {% if search.search is defined %}
                            {% for key in search.search %}



                                {% if key.condition is defined %}

                                    {{ key.condition|upper }}
                                {% endif %}

                                {{ key.collect|globalfield(search.type.custom_country~'_'~search.type.custom_data) }}

                                <span class="code">{{ key.q }}</span>

                            {% endfor %}

                            <br/>
                            {% if search.country is defined %}
                                And Filter by Countries
                                {% for key in search.country %}
                                    {{ key|twolettercodecountry|capitalize }},
                                {% endfor %}

                            {% endif %}
                        {% endif %}

                        <br/>
                        Total Data found {{ row.getHit["_source"]['total_row']|ribuan }}
                        <br/>
                        <span class="label label-primary">
                            {{ search.type.custom_country|twolettercodecountry|upper }} {{ search.type.custom_data|capitalize }}
                        </span>




                    </td>
                    <td>
                        <div class="row stats-icon">
                            <div class="col-md-3">
                                <a href="javascript:void(0)" class="j-pin-choice-{{ loop.index }} jar-tooltip"
                                data-class="j-pin-choice-{{ loop.index }}"
                                data-id="{{ row.getHit["_id"] }}"
                                data-indices="{{ row.getHit['_index'] }}"
                                data-types="{{ row.getHit['_type'] }}"
                                data-toggle="tooltip"
                                data-container="body"
                                data-placement="top" title="Set Filter">
                                <span class="pushpin-{% if row.getHit["_source"]['set_pin'] is not empty %}{{ row.getHit["_source"]['set_pin'] }}{% else %}unpin{% endif %}"></span>
                            </a>
                        </div>
                        {#{% if row.getSearchOn == "shipments-search" %}#}
                        <div class="col-md-3" style="margin-left: -15px;">
                            <a href="{{ path('member_search_shipments_result_us_imports',{'s_cache' : row.getHit["_source"]['query']}) }}"
                            class="jar-tooltip" data-toggle="tooltip" data-placement="top"
                            data-container="body"
                            title="Go to Search">
                            <span class="jar-search"></span>
                        </a>
                    </div>

                </div>
            </td>
            <td>
                <a href="{{path("member_search_shipments_result_new_time_us_imports",{'s_cache' : row.getHit["_source"]['query']})}}" class="btn btn-small btn-info">Search
                </a>
            </td>


        </tr>
    {% endfor %}
</tbody>
{#<tfoot>#}
{#<tr>#}
{#<th>Table Footer here ...</th>#}
{#<th></th>#}
{#<th></th>#}
{#<th></th>#}
{#</tr>#}
{#</tfoot>#}
</table>


<div class="jariff-pagination">
    {{ pagination|raw }}
</div>

</div>

</article>

</section>

{% endblock %}

{% block style %}


    <link href="{{ asset('/bundles/jariffproject/frontend/css-old/bootstrap.css') }}" type="text/css"
    rel="stylesheet"
    media="screen"/>


{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    <script type="text/javascript"
    src="{{ asset('bundles/jariffproject/frontend/js-old/bootstrap/bootstrap.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            $('.jar-tooltip').tooltip({
                placement: 'top',
                container: 'body'
            });

            $('.jar-tooltip-filter').tooltip({
                placement: 'top',
                container: 'body'
            });
            $('.jar-tooltip').popover({
                placement: 'bottom',
                container: 'body',
                title: '',
                template: "<div class='popover tour' style='width: 200px'>" +
                "<div class='arrow'></div>" +
                "<h3 class='popover-title' style='display: none'></h3>" +
                "<div class='popover-content'>" +
                "<div class='row'> " +
                "<div class='col-md-1'> " +
                "<a href='javascript:void(0)' class='j-pin' data-class='pushpin-unpin' data-priority='0' data-pin='unpin' title='No Pin'>" +
                "<span class='pushpin-unpin'></span>" +
                "</a>" +
                "</div>" +
                "<div class='col-md-1' > " +
                "<a href='javascript:void(0)' class='j-pin' data-class='pushpin-green' data-priority='1' data-pin='green' title='Normal Priority'>" +
                "<span class='pushpin-green'></span>" +
                "</a>" +
                "</div>" +
                "<div class='col-md-1' > " +
                "<a href='javascript:void(0)' class='j-pin' data-class='pushpin-yellow' data-priority='2' data-pin='yellow' title='Middle Priority'>" +
                "<span class='pushpin-yellow'></span>" +
                "</a>" +
                "</div>" +
                "<div class='col-md-1' > " +
                "<a href='javascript:void(0)' class='j-pin' data-class='pushpin-pink' data-priority='3' data-pin='pink' title='Hard Priority'>" +
                "<span class='pushpin-pink'></span>" +
                "</a>" +
                "</div>" +
                "</div>" +
                "</div>" +
                "</div>",
                html: true,
                callback: function () {

                }

            });

            $('.jar-tooltip').on('shown.bs.popover', function () {
                // do something…
                check($(this).attr('data-class'));
//                alert('ok');
$('.j-pin').tooltip({
    placement: 'top',
    container: 'body'
});
})

            function check(clas) {
                $('.j-pin').on('click', function () {

                    var thisPin = $(this);
                    $.ajax({
                        type: 'GET',
                        url: Routing.generate('member_search_history_pin', {index: $('.' + clas).attr('data-indices'), type: $('.' + clas).attr('data-types'), id: $('.' + clas).attr('data-id'), pin: $(this).attr('data-pin'), priority: $(this).attr('data-priority')}),
                        success: function (data) {
                            $('.' + clas).html('<span class="' + $(thisPin).attr('data-class') + '"></span>');

                        }
                    })


                })
            }
})
    </script>

    <script type="text/javascript">
        google.load("visualization", "1", {packages: ["corechart"]});
        google.setOnLoadCallback(drawChart);

        function drawChart() {

            var optionsSell = {
                title: 'Charts Search Per Day',
                'width': 850,
                'height': 300,
                hAxis: { titleTextStyle: {color: 'red'}}
            };

            {#var jsonData = $.ajax({#}
                {#url: '{{ path('member_search_history_total') }}',#}
                {#dataType: "json",#}
                {#async: false#}
                {#}).responseText;#}

            var obj = jQuery.parseJSON('{{ chart|escape('js') }}');

            var dataline = google.visualization.arrayToDataTable(obj);

            //            var chartEmployee = new google.visualization.ColumnChart(document.getElementById('j-chart-employee'));
            var chartSell = new google.visualization.ColumnChart(document.getElementById('j-chart-sell'));
            //            chartEmployee.draw(dataEmployee, optionsEmployee);
            chartSell.draw(dataline, optionsSell);
        }
    </script>
{% endblock %}