<div class="jariff-pagination">
    {{ pagination|raw }}
</div>

{% for res in resHybird %}
    {% if res.getResult.getHit["highlight"] is defined and res.getResult.getHit["highlight"] is not empty and res.getTransformed.getValue.getCompanyAs == 'product' %}
        {% include "@JariffProject/Search/Result/product.html.twig" %}
    {% else %}
        {% if res.getTransformed.getValue.getCompanyAs == 'importer' %}
            {% include "@JariffProject/Search/Result/importer.html.twig" %}
        {% endif %}
        {% if res.getTransformed.getValue.getCompanyAs == 'exporter' and export %}
            {% include "@JariffProject/Search/Result/exporter.html.twig" %}
        {% endif %}
    {% endif %}
{% endfor %}

{#{% for res in resHybird %}#}
    {#{% if res.getResult.getHit["highlight"] is defined and res.getResult.getHit["highlight"] is not empty and res.getTransformed.getValue.getCompanyAs == 'exporter' %}#}
        {#{% include "@JariffMember/Search/Result/product.html.twig" %}#}
    {#{% else %}#}
        {#{% if res.getTransformed.getValue.getCompanyAs == 'importer' %}#}
            {#{% include "@JariffMember/Search/Result/importer.html.twig" %}#}
        {#{% endif %}#}
        {#{% if res.getTransformed.getValue.getCompanyAs == 'exporter' %}#}
            {#{% include "@JariffMember/Search/Result/exporter.html.twig" %}#}
        {#{% endif %}#}
    {#{% endif %}#}
{#{% endfor %}#}

<div class="jariff-pagination">
    {{ pagination|raw }}
</div>

{% block js_call %}
    <script src="{{ asset('bundles/jariffproject/frontend/js/bootstrap/bootstrap.js') }}"
            type="text/javascript"></script>
    <script src="{{ asset('bundles/jariffproject/frontend/js/jquery-ui-1.10.1/ui/jquery-ui.js') }}"
            type="text/javascript"></script>
    <script src="{{ asset('bundles/jariffproject/frontend/js/jquery-ui-1.10.1/ui/jquery.ui.dialog.js') }}"
            type="text/javascript"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            $('.j-add-tab-product').click(function () {
                var header = $(this).parent('.image_rollover').siblings('.header-search-trade').children('.imartist').children('.j-add-tab-products').html();

                $.ajax({
                    type: 'GET',
                    url: $(this).parent('.image_rollover').siblings('.header-search-trade').children('.imartist').children('.j-add-tab-products').attr('data-url'),
                    data: {header: header, body: $('.j-body-products').val()},
                    success: function (data) {
                        $('#product').html(data);
                    }
                });


                $(this).parent('.image_rollover').parent('.popresult').addClass('disable-choice');

                var $myDialog = $('<div></div>')
                        .html('<p><span class="ui-icon ui-icon-alert"></span>Your choice will be input into the tab product.</p>')
                        .dialog({
                            autoOpen: false,
                            modal: true,
                            width: 500,
                            draggable: false,
                            height: 200,
                            title: 'Product Choice',
//                        buttons: {
//                            "OK": function () {
//
//                                $(this).dialog("close");
//                                return true;
//                            }
//
//                        },
                            open: function (event, ui) {
                                setTimeout(function () {
                                    $myDialog.dialog('close');
                                    return true;
                                }, 2000);
                            }
                        });

                return $myDialog.dialog('open');

            });

            $('.j-add-tab-import').on('click', function () {
                $.ajax({
                    type: 'GET',
                    url: $(this).parent('.image_rollover').siblings('.header-search-trade').children('.imartist').children('.j-add-tab-importer').attr('data-url'),
                    data: {header: '', body: ''},
                    success: function (data) {
                        $('#importer').html(data);
                    }
                })

                $(this).parent('.image_rollover').parent('.popresult').addClass('disable-choice');

                var $myDialog = $('<div></div>')
                        .html('<p><span class="ui-icon ui-icon-alert"></span>Your choice will be input into the tab importer.</p>')
                        .dialog({
                            autoOpen: false,
                            modal: true,
                            width: 500,
                            draggable: false,
                            height: 200,
                            title: 'Importer Choice',
//                        buttons: {
//                            "OK": function () {
//
//                                $(this).dialog("close");
//                                return true;
//                            }
//                        },
                            open: function (event, ui) {
                                setTimeout(function () {
                                    $myDialog.dialog('close');
                                    return true;
                                }, 2000);
                            }
                        });

                return $myDialog.dialog('open');
            });

            $('.j-add-tab-export').on('click', function () {

                $.ajax({
                    type: 'GET',
                    url: $(this).parent('.image_rollover').siblings('.header-search-trade').children('.imartist').children('.j-add-tab-exporter').attr('data-url'),
                    data: {header: '', body: ''},
                    success: function (data) {
                        $('#exporter').html(data);
                    }
                })
                $(this).parent('.image_rollover').parent('.popresult').addClass('disable-choice');

                var $myDialog = $('<div></div>')
                        .html('<p><span class="ui-icon ui-icon-alert"></span>Your choice will be input into the tab exporter.</p>')
                        .dialog({
                            autoOpen: false,
                            modal: true,
                            width: 500,
                            draggable: false,
                            height: 200,
                            title: 'Exporter Choice',
//                        buttons: {
//                            "OK": function () {
//
//                                $(this).dialog("close");
//                                return true;
//                            }
//                        },
                            open: function (event, ui) {
                                setTimeout(function () {
                                    $myDialog.dialog('close');
                                    return true;
                                }, 2000);
                            }
                        });

                return $myDialog.dialog('open');
            });

            $('.pagination ul li a').on('click', function () {
                $.ajax({
                    type: 'GET',
                    url: $(this).attr('href'),
                    data: $('.j-searching').serialize(),
                    beforeSend: function () {
                        $('#page1').html('<div style="text-align: center">' +
                                '<img src="{{ asset('bundles/jariffproject/frontend/images/301.GIF') }}">' +
                                '<h5 style="margin-top: 15px">Loading...</h5>' +
                                '</div>');
                    },
                    success: function (data) {
                        $('#page1').html(data);
                    }
                });

                var urlSearch = '{{ path('member_search_result') }}';
                var url = document.URL.split('?');
                var page = $(this).attr('href').split('/');

                var pageVal = 1;
                if (parseInt(page[page.length - 1]))
                    pageVal = parseInt(page[page.length - 1]);

                window.history.pushState("object or string", "Title", urlSearch + '/' + pageVal + '?' + url[1]);

                return false;
            })
        });

    </script>
{% endblock %}