{# {% block form_label %}
    {% spaceless %}
        <label {% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            <img style="position: absolute;" src="{{ asset('/bundles/jariffproject/frontend/images/flags-iso/shiny/16/'~(label|preg_country[0]|trans({}, translation_domain))|upper~".png") }}">
            <span style="margin-left: 20px">{{ label }}</span>
        </label>
    {% endspaceless %}
{% endblock form_label %}

{% block checkbox_widget %}
    {% spaceless %}
        <div class="check_parent">
            <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
            {{ form_label(form) }}
        </div>
    {% endspaceless %}
{%- endblock checkbox_widget %} #}

{% block form_label %}
    {% spaceless %}
        {% if label is not sameas(false) %}
            {% if not compound %}
                {% set label_attr = label_attr|merge({'for': id}) %}
                {% endif %}
                {% if required %}
                    {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
                    {% endif %}
                    {% if label is empty %}
                        {% set label = name|humanize %}
                        {% endif %}
                        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
                       
                        <span style="margin-left: 20px">{{ label|trans({}, translation_domain)|upper }}</span>

                    </label>
                   
                {% endif %}
            {% endspaceless %}
        {% endblock form_label %}

        {% block radio_widget %}
            {% spaceless %}
                <input type="radio"  {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %}  />
            {% endspaceless %}
        {% endblock radio_widget %}

        {% block choice_widget_expanded -%}
            <div {{ block('widget_container_attributes') }}>
                {%- for child in form %}
                    {{- form_widget(child) -}}
                    {#{{- form_label(child) -}}#}
                {% endfor -%}
            </div>
        {% endblock choice_widget_expanded %}

        {% block checkbox_widget -%}
            {#{% spaceless %}#}
            <div class="check_parent col-md-3">
                <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} disabled="disabled" />
                {{ form_label(form) }}


            </div>

            {#{% endspaceless %}#}
        {%- endblock checkbox_widget %}

        {% block form_row %}
            {{ form_widget(form) }}
        {% endblock form_row %}
