{% block form_label %}
    {% spaceless %}
        {% if label is not sameas(false) %}
            {% if not compound %}
                {% set label_attr = label_attr|merge({'for': id}) %}
                {% endif %}
                {% if required %}
                    {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
                    {% endif %}
                    {% if label is empty %}
                        {% set label = name|humanize %}
                        {% endif %}
                        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}</label>
                    {% endif %}
                {% endspaceless %}
            {% endblock form_label %}

            {% block radio_widget %}
                {% spaceless %}
                    <label class="btn btn-primary {% if checked %}active{% endif %}">
                        <input type="radio"  {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} autocomplete="off"/>
                        {{ (label|trans({}, translation_domain))|upper }}

                    </label>
                {% endspaceless %}
            {% endblock radio_widget %}

            {% block choice_widget_expanded -%}
                <div {{ block('widget_container_attributes') }}>
                    {%- for child in form %}
                        {{- form_widget(child) -}}
                        {#{{- form_label(child) -}}#}
                    {% endfor -%}
                </div>
            {% endblock choice_widget_expanded %}

            {% block checkbox_widget -%}
                {#{% spaceless %}#}
                <div class="check_parent">
                    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
                    {{ form_label(form) }}


                </div>

                {#{% endspaceless %}#}
            {%- endblock checkbox_widget %}

            {% block form_row %}
                {#{% spaceless %}#}
                
                {{ form_widget(form) }}
                


                {#{{ form_errors(form) }}#}


                {#{% endspaceless %}#}
            {% endblock form_row %}

            {%- block form_widget -%}
                {% if compound %}
                    {{- block('form_widget_compound') -}}
                    {% else %}
                    {{- block('form_widget_simple') -}}
                {% endif %}
            {%- endblock form_widget -%}

            {%- block form_widget_simple -%}
                {%- set type = type|default('text') -%}
                    <div class="col-sm-8">
                        <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
                    </div>
                {%- endblock form_widget_simple -%}

                {%- block form_widget_compound -%}
                    <div {{ block('widget_container_attributes') }} >
                        {%- if form.parent is empty -%}
                            {{ form_errors(form) }}
                        {%- endif -%}
                        {{- block('form_rows') -}}
                        {{- form_rest(form) -}}
                    </div>
                {%- endblock form_widget_compound -%}

                {% block field_row %}
                    {% spaceless %}
                        <div class="myclass">
                          {{ form_label(form, label|trans) }}
                          {{ form_widget(form) }}
                          {{ form_errors(form) }}                            
                      </div>
                  {% endspaceless %}
              {% endblock field_row %}