{% extends '::base.html.twig' %}

{% block body -%}
    <h1>MemberARB</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Successful</th>
                <td>{{ entity.successful }}</td>
            </tr>
            <tr>
                <th>Processed</th>
                <td>{{ entity.processed }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ entity.amount }}</td>
            </tr>
            <tr>
                <th>Chargedate</th>
                <td>{{ entity.chargeDate|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('arb') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('arb_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
